<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.unispark" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Try"
        tools:replace="android:allowBackup" >
        <activity
            android:name=".view.SplashScreenView"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".view.LoginView"
            android:exported="true" />


        <activity
            android:name=".view.student.StudentHomeView"
            android:exported="true" />
        <activity
            android:name=".view.student.StudentExamsView"
            android:exported="true" />
        <activity
            android:name=".view.student.StudentLinksView"
            android:exported="true" />
        <activity
            android:name=".view.student.StudentProfileView"
            android:exported="true" />
        <activity
            android:name=".view.student.StudentScheduleView"
            android:exported="true" />


        <activity
            android:name=".view.professor.ProfessorHomeView"
            android:exported="true" />
        <activity
            android:name=".view.professor.ProfessorExamsView"
            android:exported="true" />
        <activity
            android:name=".view.professor.ProfessorProfileView"
            android:exported="true" />
        <activity
            android:name=".view.professor.VerbalizeExamsView"
            android:exported="true" />


        <activity
            android:name=".view.university.UniversityHomeView"
            android:exported="true" />


        <activity
            android:name=".view.details.DetailsCourseView"
            android:exported="true" />
        <activity
            android:name=".view.details.DetailsHomeworkView"
            android:exported="true" />
        <activity
            android:name=".view.details.DetailsProfCommunicationView"
            android:exported="true" />
        <activity
            android:name=".view.details.DetailsProfessorView"
            android:exported="true" />
        <activity
            android:name=".view.details.DetailsUniCommunicationView"
            android:exported="true" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>